<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter new value</title>
</head>
<body>
  <form method="POST" action="/update_task">
      <input type="hidden" name="id" value="{{ id }}">
      <input type="hidden" name="field" value="{{ field_name }}">
      <label for="new_value">Enter new value for {{ field_name }}:</label>
      <input type="text" id="new_value" name="new_value" placeholder="Enter new value" required>
       <button type="submit">Save</button>
  </form>
</body>
</html>