
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
    background-color: #f4f4f4;
}

.register-container {
    width: 250px;
    padding: 20px;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.register-container h2 {
    text-align: center;
    color: #333;
}

.register-container form {
    display: flex;
    flex-direction: column;
}

.register-container input[type="text"],
.register-container input[type="password"],
.register-container input[type="email"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-container button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-container button:hover {
    background-color: #45a049;
}

.register-container a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #4CAF50;
    text-decoration: none;
}

.register-container a:hover {
    text-decoration: underline;
}