<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
        .inline-button {
            display: inline;
            margin-left: 10px;
        }
    </style>
</head>
<body>
{% block content %}
<ul>
  <li>
    <strong>Category</strong> {{ task.category }} <br>
    <strong>Name</strong> {{ task.title }} <br>
    <strong>Description</strong> {{ task.description }} <br>
    <strong>Status</strong> {{ task.status }} <br>
    <strong>Date of creation</strong> {{ task.created_at }} <br>
    <strong>Dead line</strong> {{ task.dead_line if task.dead_line else "Dead line not added" }}
      <form method="get" action="/">
    <button type="submit">On main page</button>
  </form>
    <br><br>
  </li>
</ul>
{% endblock %}
</body>
</html>