<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Недвижимость | Главная</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
{% if user.is_authenticated %}
    <p>Добро пожаловать, {{ user.username }}!</p>
{% else %}
    <p>Пожалуйста, <a href="{% url 'login' %}">войдите</a> для доступа к этому контенту.</p>
{% endif %}
    <header>
        <div class="navbar">
        {% if not user.is_authenticated %}
        <a href="{% url 'login' %}">Войти</a>
        <a href="{% url 'register' %}">Зарегистрироваться</a>
        {% else %}
        <a href="{% url 'logout' %}">Выйти</a>
        {% endif %}
        </div>
        <div class="container">
            <h1>Найди свою идеальную недвижимость</h1>
            <nav>
                <ul>
                    <li><a href="#">Главная</a></li>
                    {% if user.is_authenticated and user.role == 'owner'%}
                        <li><a href="{% url 'creation' %}">Добавить дом</a></li>
                        <li><a href="{% url 'my_catalog' user.id %}">Мои объекты</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <main>
    <div class="centered-title">
        <h2>Лучшие предложения месяца</h2>
        <p>Найдите свой новый дом или квартиру по доступной цене.</p>
    </div>
    <span class="current">
        <form method="GET" action="{% url 'sorted_building' %}">
        <label for="category">Сортировать по типу</label>
        <select name="category" id="category">
            <option value="">Все</option>
            <option value="2">Дом</option>
            <option value="1">Квартира</option>
            <option value="3">Гараж</option>
            <option value="4">Коммерческая недвижимость</option>
            <option value="5">Нежилая недвижимость</option>
        </select>
        <label for="square">Сортировать по площади</label>
        <select name="square" id="square">
            <option value="">Все</option>
            <option value="10-50">10-50</option>
            <option value="51-100">50-100</option>
            <option value="101-150">100-150</option>
            <option value="151-200">150-200</option>
            <option value="201-250">200-250</option>
        </select>
            <label for="year">Сортировать по году постройки</label>
        <select name="year" id="year">
            <option value="">Все</option>
            <option value="1900-1930">1900-1930</option>
            <option value="1931-1960">1931-1960</option>
            <option value="1961-1990">1961-1990</option>
            <option value="1991-2000">1991-2000</option>
            <option value="2001-2024">2001-2024</option>
        </select>
        <button type="submit">Применить</button>
        </form>
    </span>
    <section class="properties">
        {% for building in page_obj %}
        <div class="property">
            <img src="{{ building.image_path }}" alt="{{ building.title }}">
            <h3>{{ building.title }}</h3>
            {% if user.is_authenticated %}
                <p>{{ building.price }} $</p>
            {% else %}
                <p>Цену могут видеть только авторизованные пользователи</p>
            {% endif %}
            <a href="{% url 'building' building.id %}" class="btn">Подробнее</a>
        </div>
        {% endfor %}
    </section>
    <div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in paginator.page_range %}
        {% if page_obj.number == num %}
            <span>{{ num }}</span>
        {% else %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
</div>
</main>
    <footer>
        <div class="container">
            <p>&copy; 2024 Недвижимость. Все права защищены.</p>
        </div>
    </footer>
</body>
</html>