<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>

<div class="register-container">
    <h2>Регистрация</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Зарегистрироваться</button>
    </form>
    <a href="{% url 'login' %}">Уже есть аккаунт? Войти</a>
</div>
</body>
</html>