<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Информация о доме</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<header>
    <div class="navbar">
        {% if not user.is_authenticated %}
        <a href="{% url 'login' %}">Войти</a>
        <a href="{% url 'register' %}">Зарегистрироваться</a>
        {% else %}
        <a href="{% url 'logout' %}">Выйти</a>
        {% endif %}
    </div>
    <div class="container">
        <h1>Продается {{ building.title|lower }}</h1>
        <nav class="navbar">
            <ul>
                <li><a href="{% url 'index' %}">Главная</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="container">
    <div class="centered-title">
        <p>Идеальный дом для жизни и отдыха</p>
    </div>

    <div class="properties">
        <div class="property">
            <img src="{{ building.image_path.url }}" alt="{{ building.title }}">
        </div>

        <div class="property-details">
            <h3>Основные параметры:</h3>
            <ul>
                <li><strong>Тип недвижимости:</strong> {{ building.type_of_building.type_of_building }}</li>
                <li><strong>Год постройки:</strong> {{ building.year_of_construction }}</li>
                <li><strong>Площадь (м2):</strong> {{ building.square }}</li>
                {% if user.is_authenticated %}
                <li><strong>Цена:</strong> {{ building.price }} $</li>
                {% else %}
                <li><strong>Цена:</strong> доступно для авторизованных пользователей</li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="centered-title" id="features">
        <h2>Описание дома</h2>
        <p>Все удобства для комфортной жизни</p>
    </div>

    <ul class="building-description">
        {% if user.is_authenticated %}
        <li>{{ building.description }}</li>
        {% else %}
        <li>Описание доступно для авторизованных пользователей</li>
        {% endif %}
    </ul>
</div>

<footer id="contact">
    <div class="container">
        <p>&copy; 2024 Продажа недвижимости. Все права защищены.</p>
        <p>Контактная информация: info@yourdomain.com</p>
    </div>
</footer>

</body>
</html>