<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить недвижимость в каталог</title>
    <link rel="stylesheet" href="{% static 'css/creation.css' %}">
</head>
<body>
    <h2>Добавить недвижимость в каталог</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Сохранить</button>
    </form>
</body>
</html>