<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мои объекты</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<header>
    <div class="navbar">
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Выйти</a>
        {% endif %}
        </div>
    <div class="container">
        <h1>Мой каталог</h1>
        <div class="container">
            <nav>
                <ul>
                     <li><a href="{% url 'index' %}">Главная</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'creation' %}">Добавить дом</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</header>
<div class="container">
    <div class="centered-title">
        <p>Идеальный дом для жизни и отдыха</p>
    </div>
</div>
    </div>
<span class="current">
        <form method="GET" action="{% url 'sorted_building' %}">
        <label for="category">Сортировать по типу</label>
        <select name="category" id="category">
            <option value="">Все</option>
            <option value="2">Дом</option>
            <option value="1">Квартира</option>
            <option value="3">Гараж</option>
            <option value="4">Коммерческая недвижимость</option>
            <option value="5">Нежилая недвижимость</option>
        </select>
        <label for="square">Сортировать по площади</label>
        <select name="square" id="square">
            <option value="">Все</option>
            <option value="10-50">10-50</option>
            <option value="51-100">50-100</option>
            <option value="101-150">100-150</option>
            <option value="151-200">150-200</option>
            <option value="201-250">200-250</option>
        </select>
              <label for="year">Сортировать по году постройки</label>
        <select name="year" id="year">
            <option value="">Все</option>
            <option value="1900-1930">1900-1930</option>
            <option value="1931-1960">1931-1960</option>
            <option value="1961-1990">1961-1990</option>
            <option value="1991-2000">1991-2000</option>
            <option value="2001-2024">2001-2024</option>
        </select>
        <button type="submit">Применить</button>
        </form>
    </span>
{% block content %}
    <section class="properties">
            {% if not user_buildings %}
            <h1>У вас пока нет своих объектов</h1>
            {% endif %}
            {% for building in user_buildings %}
            <div class="property">
                <img src='{{ building.image_path.url }}' alt="{{ building.title }}">
                <h3>{{ building.title }}</h3>
                {% if user.is_authenticated %}
                    <p>{{ building.price }} $</p>
                {% else %}
                    <p>Цену могут видеть только авторизованные пользователи</p>
                {% endif %}
                <a href="{% url 'building' building.id %}" class="btn">Подробнее</a>
                <form method="POST" action="{% url 'delete' building.id %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Удалить</button>
                </form>
                <form method="POST" action="{% url 'change_data' building.id %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Редактировать</button>
                </form>
            </div>
            {% endfor %}
        </section>
{% endblock %}
<footer id="contact">
    <div class="container">
        <p>&copy; 2024 Продажа недвижимости. Все права защищены.</p>
        <p>Контактная информация: info@yourdomain.com</p>
    </div>
</footer>

</body>
</html>